#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("PRODUCT_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($product in $products)
        <div class="col">
            <a class="book" href="$WebPath.getProducts()$product.getProductName()">
##                <div class="bookCover">
                    <li>$product.getProductName()</li>
##                </div>
##                $msg.get("BOOKS_CAPTION", $book.getTitle(), $book.getAuthor())
            </a>
        </div>
    #end
</div>
#end
