#parse("/velocity/layout.vm")
#@mainLayout()
    #if($product)
    <h2>$product.getProductName()</h2>
    <div class="book">
        <li>Product Category: $product.getCategory().getName()</li>
        <li>Product name: $product.getProductName()</li>
        <li>Units on stock: $product.getUnitsOnStock()</li>
##        <div class="bookCover">
##            <img src="$product.getLargeCover()" alt="$product.getTitle()">
##        </div>
    </div>
    #else
    <h1>$msg.get("PRODUCT_NOT_FOUND")</h1>
    #end
#end
