#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("PRODUCT_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($supplier in $suppliers)
        <div class="col">
            <a class="book" href="$WebPath.getSuppliers()$supplier.getCompanyName()">
##                <div class="bookCover">
                    <li>$supplier.getCompanyName()</li>
##                </div>
##                $msg.get("BOOKS_CAPTION", $book.getTitle(), $book.getAuthor())
            </a>
        </div>
    #end
</div>
#end
